<div id="new-recipe">
	<%= form_for @recipe do |f| %>
		<%= f.text_field :title, placeholder: "Recipe Name", class: "recipe-title" %><br>
		<%= f.text_field :time, placeholder:"time" %> mins<br>
		<%= f.text_field :serve_size, placeholder:"serves how many" %> people<br>
		<p>recipe summary</p>
		<%= f.text_area :summary, placeholder: "please provide a brief summary of this recipe" %><br>
		<p>ingredients list:</p>
		<%= f.text_area :ingredients, placeholder:"list all ingredients" %><br>
		<p> step-by-step directions</p>
		<%= f.text_area :directions, placeholder:"please provide step-by-step instructions" %><br>
		<%=f.submit %>
	<%end%>
</div>