<div id="recipe-container">

	<div class="display-recipe">
		<div id="title">
		<h2 id="title"><%=@recipe.title %></h2>
			<button><%= link_to "edit", edit_recipe_path(@recipe) %></button>

		<h5>serves:</h5> 
			<p><%=@recipe.serve_size%></p>
			| <h5>time:</h5> 
			<p><%=@recipe.time%></p>
	</div>
		
	<h4 id="summary"><%=@recipe.summary %></h4>
	<% @images.each do |i| %>
		<%= image_tag i.image_url, class: "recipe-image" %>
	<% end %><br>


	<div class="recipe-element">
		<h5>ingredients:</h5><br>
		<p><%=@recipe.ingredients%></p>	
	</div>

	<div class="recipe-element" id="directions">
		<h5>directions:</h5>
		<p><%= @recipe.directions %></p>
	</div><br>

	<div class="recipe-tags">	
		<h5>tags:</h5>
		<ul>
			<% @tags.each do |tag| %>
				<li><h6><%=link_to tag.name, tag_path(tag)%></h6></li>
			<% end %>
		</ul>
		<%=form_for :recipe_tag, url:'/add_recipe_tag' do |f|%>
			<%=f.text_field :name, placeholder: "recipe tag" %>
			<%=f.submit "add a tag" %>
		<% end %>
	</div><br>

	<div class="recipe-groups">	
		<h5>groups:</h5>
		<ul>
		<% @groups.each do |group| %>
			<li><h6><%=link_to group.name, group_path(group)%></h6></li>
		<% end %>
	</ul>
		<%=form_for :group_recipe, url:'/add_group_recipe' do |f|%>
			<%=f.text_field :name, placeholder: "group name" %>
			<%=f.submit "add to a group" %>
		<% end %>
		</div>
	</div>

		<div class="add-image">
		<%=form_for [@imageable, @image] do |f| %>
			<%=f.file_field :image_url %>
			<%= f.submit %>
		<% end %>
	</div>	

	<div class="comment">
		<h6>comment</h6>
		<%= form_for [@commentable, @comment] do |f| %>
			<%= f.text_area :content %><br>
			<%= f.submit "post comment" %>
			<% end %>
	</div> 
	<% @r_comments.each do |comment| %>
	<div class="comment">
		<h6><%= comment.content %></h6>
		<% if comment.user %>
			
	<label>by: <%=link_to comment.user.first_name, user_path(comment.user) %>
		<%= created_at(comment) %></label>
			<%= image_tag first_image(comment.user.images), class: "first-user-image" %>
			<% end %>
		</div>
	<%end%>

	
		<h3>stories:</h3>
		
		<% @stories.each do |story| %>
		<div class="recipe-stories">
			<h4><%= link_to story.title, story_path(story) %></h4>
			<p><%= story.content %></p>
			<h6> <%= created_at(story) %></h6>
			<%=link_to story.user.username, user_path(story.user) %>
			<%=image_tag first_image(story.user.images), class: "first-user-image"%>

		</div>
		<% end %>
	<div class="recipe-stories">
		<h4>add a story</h4>
			<%=form_for :recipe_story, url:'/add_recipe_story' do |f|%>
			<h3><%=f.text_field :title, placeholder: "story title" %></h3>
			<%=f.text_area :content, placeholder: "story" %><br>
			<%=f.submit "add story" %>
		<% end %>
	</div>
</div>
 

