
<div class="index-cards" id="new-group">
	create a new group
	<%=form_for @group, :url => groups_path do |f|%>
	<div class="recipe-card">
		<%=f.text_field :name, placeholder: "new group name" %><br>
		<%=f.submit%>
	<%end%>
</div>
</div>

<% @groups.each do |g|%>
	<div class="index-cards">
		<h2><%= link_to g.name, group_path(g)%></h2>
			<% g.recipes do |r| %>
			<%=r.title%><br>
		<% end %>
		<% g.users.each do |user| %>
			<h4><%=link_to user.username, user_path(user) %></h4><br>
			<%= image_tag last_image(user.images), class: "first-user-image" %><br>
		<%end %>
	</div>
<%end%>
