group name page:<h3><%=@group.name%></h3>
recipe here ! 
 
<div class="group-recipe-card">
	<% @recipes.each do |r|%>
		<%=link_to r.title, recipe_path(r)%>
		<%= r.summary%><br>
	<% end %>
</div>

<%=link_to "edit", edit_group_path(@group) %>

<div class="group-user-card" id="add-user">
	<%=form_for :group_user, url:'/add_user' do |f| %>
		<%= f.text_field :email, placeholder: "email" %><br>
		<%= f.submit %>
	<% end %>
</div>


<% @g_users.each do |user|%>
	<div class="group-user-card">
		<p><%= user.username %></p>
		<p><%= user.email %></p>
	</div>
<% end %>