group name page:<h3><%=@group.name%></h3>

 <%=link_to "edit", edit_group_path(@group) %>
<div class="group-recipe-card">
	<h3>recipes</h3>
	<hr>
	<ul>
	<% @recipes.each do |r|%>
		<li><%=link_to r.title, recipe_path(r)%></li>
		<h4><%= r.summary%></h4>
	<% end %>
	</ul>
</div>



<div class="group-recipe-card" id="members">
	<h3>group members</h3>
	<hr>
	<ul>
	<% @g_users.each do |user|%>
		<li><%= user.username %></li>
		<p><%= user.email %></p>
		<% end %>
	</ul>
</div>

<div class="group-user-card" id="add-user">
	<h3>add a user to group</h3>
	<%=form_for :group_user, url:'/add_user' do |f| %>
		<%= f.text_field :email, placeholder: "email" %><br>
		<%= f.submit "add user" %>
	<% end %>
</div>