
<h2><%=@user.username %></h2>
<h4><%=@user.first_name %> <%=@user.last_name %></h4>

<%=@user.email%><br>

<div class="user-recipes">
	<h3>recipes</h3>
</div>
<% @recipes.each do |recipe| %>
	<div class="user-recipes">
	 <%=link_to recipe.title, recipe_path(recipe) %>
	</div>
<% end %>


<div class="user-groups">
	<h3>groups</h3>
</div>
<% @groups.each do |group| %>
	<div class="user-groups">
	 <%=link_to group.name, group_path(group) %>
	</div>
<% end %>

