
<h2><%=@user.username %></h2>
<h4><%=@user.first_name %> <%=@user.last_name %></h4>

<%=@user.email%>

<% @recipes.each do |recipe| %>
 <%=link_to recipe.title, recipe_path(recipe) %>
<% end %>

<% @groups.each do |group| %>
 <%=link_to group.name, group_path(group) %>
<% end %>
