<div class="user-info">
	<label>username</label>
	<h2><%= @user.username %></h2>
	<label>name</label><br>
	<h4><%= @user.first_name %> <%=@user.last_name %></h4>
	<label>email :</label><br>
	<h4><%= @user.email%></h4>
</div>

<div class="user-recipes" >
	<h3>recipes</h3>
<hr>
<% @recipes.each do |recipe| %>

	 <%=link_to recipe.title, recipe_path(recipe) %>
	</div>
<% end %>


<div class="user-groups">
	<h3>groups</h3>
<hr>
<% @groups.each do |group| %>

	 <p><%=link_to group.name, group_path(group) %></p>

<% end %>
	</div>
