<!DOCTYPE html>
<html>
<head>
  <title>inourkitchen</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<ul>
		<li><img src="../../iok_logo.png" alt="iok logo" class="logo"><br><%= link_to "in our kitchen", root_path %></li>
		<div class="options">
			<li><button><%= link_to "add recipe", new_recipe_path %></button></li>
			<% if session[:user_id] %>
				<li><button><%= link_to "recipes", recipes_path %></button></li>
				<li><button><%= link_to "groups", groups_path %></button></li>
				<li><button id="user-btn">me</button></li>
				<div class="user-options">
					<li><button><%=link_to "me!", user_path(session[:user_id])%></button>
					<li><button><%=link_to "edit", edit_user_path(session[:user_id]) %></button></li>
					<li><button><%=link_to "log out", '/logout', method: :delete %></button></li>
				</div>
			<% else %>
			<li><button id="login-btn">log in</button></li>
			<li><button id="sign-up-btn">sign up</button></li>
			<% end %>
	</div>
	</ul>
	</nav>	
<div class="login-div">
	<p>Please login</p>
	<%= form_for :session, url: '/login' do |f| %>
		<%= f.text_field :username, placeholder: "username" %><br>
		<%= f.password_field :password, placeholder: "password" %><br>
		<%= f.submit "login" %>
	<% end %>
</div>

<div class="sign-up-div">
	<p>Sign up here</p>
	<%= form_for :user, url: '/signup' do |f| %>
		<%= f.text_field :first_name, placeholder: "first name" %><br>
		<%= f.text_field :last_name, placeholder: "last name" %><br>
		<%= f.text_field :username, placeholder: "username" %><br>
		<%= f.text_field :email, placeholder: "email" %><br>
		<%= f.password_field :password, placeholder: "password" %><br>
		<%= f.submit %>
	<% end %>
</div>

<div class="container">
	<%= yield %>
</div>

<footer> 
	<div id="hints">
		<p>adding the group 'public' will share a recipe with everyone</p>
		<br>
		<p>add or create your own group, and allow others to join by typing in their email if they are already a member</p>
		<br>
	</div>
	<div id="about">
		<h3>inourkitchen</h3>, or iok helps people share recipes and kitchen stories with family and friends. 
	</div>
	<div id="careers">
		careers.. with iok? thats funny, but your should probably hire <h3>Anthony Ferragano</h3>
	</div>
	<button id="hints-btn">helpful hints</button>
	<button id="about-btn">about</button>
	<button id="careers-btn">careers</button>
	<h5>by <a href="aferragano.com">AFerragano</a></h5>
</footer>
</body>
</html>

