<!DOCTYPE html>
<html>
<head>
  <title>Inourkitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>

	<h3><%= link_to "in our kitchen", root_path %></h3>

	<button>log in</button>
	<button>sign up</button>

	<button><%= link_to "add recipe", new_recipe_path %></button>
	<button><%= link_to "groups", groups_path %></button>

</nav>
<%= yield %>

</body>
</html>
